<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659075743633-gei5qslc44lufu6art8dfa09ktf7oe1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659075743633-gei5qslc44lufu6art8dfa09ktf7oe1t</string>
	<key>API_KEY</key>
	<string>AIzaSyAxsxq2F8TA5V3yDYybOpf4_avMZD1jGCo</string>
	<key>GCM_SENDER_ID</key>
	<string>659075743633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Marketplace</string>
	<key>PROJECT_ID</key>
	<string>marketplace-35e20</string>
	<key>STORAGE_BUCKET</key>
	<string>marketplace-35e20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659075743633:ios:6238f8e8f7dd6eb38e2430</string>
	<key>DATABASE_URL</key>
	<string>https://marketplace-35e20.firebaseio.com</string>
</dict>
</plist>